body {
    font-family: Arial, Helvetica, sans-serif;
}

table {
    margin: auto;
    border-style: solid;
    border-color: #dddddd;
    border-width: 1px;
}

legend {
    caption-side: bottom;
    font-size: 10px;
    color: #555555;
    font-weight: none;
    text-align: left;
}

td:nth-child(2n+1){
    background-color: #F7F7F7;
}

th {
    font-size: 13px;
    color: #999999;
    font-weight: bold;
    text-align: center;
}

.posicao {
    font-size: 18px;
    font-weight: bold;
    text-align: center;
}

.time {
    font-size: 14px;
    color: #666666;
    font-weight: bold;
    text-align: left;
}

.pontos {
    font-size: 14px;
    color: black;
    font-weight: bold;
    text-align: center;

}

td {
    font-size: 14px;
    color: #666666;
    font-weight: normal;
    text-align: center;
}

#libertadores {
    color: #003366;
}

#prelib {
    color: #1398BE;
}

#sudamerica {
    color: #DE9800;
}

#rebaixados {
    color: #C91B04;
}

#grey {
    color: #CCCCCC;
}

.legenda {
    text-align: left;
}

.dam {
    background-color: #003366;
    width: 10px;
    height: 10px;
    display: inline-block;
    margin-left: 2px;
}

.dac{
    background-color: #1398BE;
    width: 10px;
    height: 10px;
    display: inline-block;
    margin-left: 2px;
}
.dl{
    background-color: #DE9800;
    width: 10px;
    height: 10px;
    display: inline-block;
    margin-left: 2px;
}
.dv{
    background-color: #C91B04;
    width: 10px;
    height: 10px;
    display: inline-block;
    margin-left: 2px;
}


